[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UStatBookABSC"]
	path = UStatBookABSC
	url = https://github.com/cran/UStatBookABSC
